---
sudo: required
language: python
services:
  - docker

install:
  - pip install molecule ansible docker==2.7.0

script:
  - molecule --version
  - ansible --version
  - molecule test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
